body{
    background-color: #548687;
   text-align: center;
   display: flex;
   justify-content: center;
}
.container
{
    margin-top: 8rem;
    background-color: #ffffc7;
    height: 50vh;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
   

}
.input{
    
    margin-top: 2rem;
    font-size: 1.2rem;
}
button{
   margin-top: 2rem;
    background-color: rgb(34, 98, 182);
    padding: 1rem;
    font-size: 1.25rem;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
button:hover{
    background-color: rgb(8, 47, 99);
    cursor: pointer;
}
p{
    margin-top: 1rem;
    font-size:1.2rem ;
}